<html>
<body>
<h4>Hi, ${user.firstName}/${user.clientId},</h4>
<div>
	Your request for password change was successfully processed.
	Your new password is as mentioned below
</div>
<p>username : ${user.clientId}
<p>new password : ${password}
For more details please contact <a href="mailto:${user.additionalInfo}">${user.additionalInfo}</a>
</body>
</html>